.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 400px;
}


.form-input input {
    flex-grow: 1;
    padding: 10px 16px;
    border: 2px solid var(--grey);
    border-radius: 36px 0 0 36px;
    font-size: 14px;
    color: var(--dark);
    outline: none;
    background: var(--light);
}

.search-btn {
    background: var(--blue);
    border: none;
    padding: 10px 16px;
    border-radius: 0 36px 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-btn i {
    color: var(--light);
    font-size: 18px;
}

.search-btn:hover {
    background: var(--dark-grey);
}

.search-btn:active {
    background: var(--blue);
}




/* TABLE DESIGN */

.attendance-status {
    background: var(--light);
    border: 2px solid var(--grey);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--dark);
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.attendance-status:focus {
    border-color: var(--blue);
    background-color: var(--light-blue);
}

/* update button design */
.btn-update {
    padding: 10px 20px;
    background: var(--blue);
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-update:hover {
    background-color: var(--dark);
}

.btn-update:active {
    background-color: var(--blue);
}

/* delete button design */
.btn-delete {
    padding: 10px 20px; 
    background: var(--red);
    color: var(--light); 
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 36px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-delete:hover {
    background-color: var(--dark-red);
}

.btn-delete:active {
    background-color: var(--red); 
    transform: scale(0.95);
}

.btn-delete:disabled {
    background-color: var(--grey);
    cursor: not-allowed;
    opacity: 0.7; 
}



/* Add Student Form Styling */
.add-student-form .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px; 
}

.add-student-form .form-input label {
    font-size: 14px;
    color: var(--dark);
    margin-bottom: 5px; 
}

.add-student-form .form-input input {
    padding: 10px 16px;
    border: 2px solid var(--grey);
    border-radius: 36px;
    font-size: 14px;
    color: var(--dark);
    outline: none;
    background: var(--light);
    width: 100%;
    margin-bottom: 5px; 
}

.add-student-form .form-input input:focus {
    border-color: var(--blue);
    background-color: var(--light-blue);
}

.add-student-form .btn-update {
    padding: 12px 20px;
    background: var(--blue);
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    width: 100%; 
    max-width: 400px;
    transition: background-color 0.3s ease;
}

.add-student-form .btn-update:hover {
    background-color: var(--dark);
}

.add-student-form .btn-update:active {
    background-color: var(--blue);
}


/* Add Teacher Form Styling */
.add-teacher-form .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px; 
}

.add-teacher-form .form-input label {
    font-size: 14px;
    color: var(--dark);
    margin-bottom: 5px; 
}

.add-teacher-form .form-input input {
    padding: 10px 16px;
    border: 2px solid var(--grey);
    border-radius: 36px;
    font-size: 14px;
    color: var(--dark);
    outline: none;
    background: var(--light);
    width: 100%;
    margin-bottom: 5px; 
}

.add-teacher-form .form-input input:focus {
    border-color: var(--blue);
    background-color: var(--light-blue);
}

.add-teacher-form .btn-update {
    padding: 12px 20px;
    background: var(--blue);
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    width: 100%; 
    max-width: 400px;
    transition: background-color 0.3s ease;
}

.add-teacher-form .btn-update:hover {
    background-color: var(--dark);
}

.add-teacher-form .btn-update:active {
    background-color: var(--blue);
}

/* end teacher form */


.todo .form-input {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.todo .form-input label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px; 
    width: 150px; 
}

.todo .form-input input {
    flex-grow: 1;
    padding: 10px 16px;
    border: 2px solid var(--grey);
    border-radius: 36px;
    font-size: 14px;
    color: var(--dark);
    outline: none;
    background: var(--light);
}

.todo .btn-update {
    padding: 10px 20px;
    background: var(--blue);
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo .btn-update:hover {
    background-color: var(--dark);
}

.todo .btn-update:active {
    background-color: var(--blue);
}

/* FOR ADD BUTTON IN ADD STUDENTS */
.todo .btn-update-add {
    align-items: center;
    padding: 10px 20px;
    background: var(--blue);
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo .btn-update-add:hover {
    background-color: var(--dark);
}

.todo .btn-update-add:active {
    background-color: var(--blue);
}

.form-input label {
    margin-right: 10px;
    white-space: nowrap; 
}


/* DITO KO NA RIN LAGAY SELECT TAG DESIGN */
.form-input select {
    padding: 10px 16px;
    border: 2px solid var(--grey);
    border-radius: 36px;
    font-size: 14px;
    color: var(--dark);
    outline: none;
    background: var(--light);
    width: 100%;
    margin-bottom: 5px; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-input select:focus {
    border-color: var(--blue);
    background-color: var(--light-blue);
}

.form-input select::-ms-expand {
    display: none; 
}

.form-input {
    position: relative;
}

.form-input select + .custom-arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
    color: var(--dark);
}
.form-input select:focus + .custom-arrow {
    color: var(--blue);
}

/* ADD ATTENDANCE FORM */
.add-attendance-form .form-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.add-attendance-form .form-input select {
    padding: 10px 16px;
    border: 2px solid var(--grey);
    border-radius: 36px;
    font-size: 14px;
    color: var(--dark);
    outline: none;
    background: var(--light);
}

.add-attendance-form .form-input select:focus {
    border-color: var(--blue);
    background-color: var(--light-blue);
}

.add-attendance-form .btn-update {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 36px;
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.add-attendance-form .btn-update-add {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 36px;
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
